<div id="contact-page">
  <h1>Here's how to contact me.</h1>
  <ul>
    <li>Email: <a href="mailto:{{email}}">{{email}}</a></li>
    <li>Phone: {{phoneNumber}}</li>
    <li>LinkedIn: <a href="{{linkedIn}}">{{linkedIn}}</a></li>
  </ul>
</div>
<div>
<section id="resume-cover">
  <div id="contact">
    <h1>Douglas Cassidy</h1>
    <h4>48 Hazel Crest. Kingsville, ON N9Y 0B1</h4>
    <p><strong>Email:  </strong>DC156&#64;myscc.ca</p>
  </div>
  <br>
  <p></p>
  To Whom It May Concern,<br><br>
  I am interested in obtaining a position within your organization. I have established good work ethics during my
  time at Fresh Co and while volunteering at Jack Miners’, the Community Food Sharing program, and programs within
  the school board. This experience has taught me to work as a team, be independent and prioritize tasks.
  I am looking to continue to grow my skills in the workforce and gain meaningful employment. I hope to continue
  working on the skills I currently have, while developing new ones. I feel that I would make a great asset to your
  team with my dedication and attention to detail. I am a reliable and dependable worker. I look forward to hearing
  from you to further discuss any employment opportunities you may currently have.<br><br><br>

  Respectfully,<br><br>

  <p id="signature">Douglas Cassidy</p>
</section>
<section id="resume-main">
  <br><br>
  <u>OBJECTIVE</u>
  <br><br>
  <strong>To obtain employment where I can develop new skills, gain confidence, and become a valuable team member </strong>
  <br><br>
  <div id="profile">
    <u>PROFILE</u>
    <br>
    <ul>
      <li>Hardworking, eager to learn, kind, friendly individual</li>
      <li>Some knowledge of hand and power tools, bicycle repair</li>
      <li>Detail orientated, neat working habits</li>
      <li>dedicated and supportive team member</li>
    </ul>
  </div>
  <div class="education">
    <br>
    <u>EDUCATION</u>
    <p>St. Clair College of applied arts<br>
      Attending: Mobile application Development</p>
    <div id="college">
      <p>3 year program - Currently in Term 2 of Year 2</p>
      <p>September 2023 - Present</p>
    </div>
  </div>
  <br>
  <div id="north-star">
    <p>North Star High School</p>
    <p>September 2022 - 2023</p>
  </div>
  Picked up a few more courses - Post Graduation
  <ul>
    <li>Auto Service, Computer, Arts & Life Management</li>
  </ul>
  <br><br>
  <p>Western Secondary High School</p>
  <div id="western">
    <p>Grade 12 Diploma with Specialized High Skills Major Certificate<br>
    <p>September 2017 - 2022</p>
  </div>
  <ul>
    <li>4 years of Hospitality & Cooking</li>
    <li>1 Year of horticulture</li>
    <li>1 Year of Small Engine Service</li>
    <li>2 Years of Auto Service</li>
  </ul>
  <u>WORK EXPERIENCE</u>
  <div id="fresh-co">
    <p>Fresh Co. 430 Main Street East, Kingsville, ON</p>
    <p>Sept 2021 - Apr 2022</p>
  </div>
  <ul>
    <li>Gathered & Cleaned grocery carts</li>
    <li>Product re-facing</li>
  </ul>
  <br>
  <u>WESTERN CO-OP PROGRAM</u>
  <div id="western-coop">
    <p>Fresh Co. 430 Main Street East, Kingsville, ON</p>
    <p>Sept 2020 - Dec 2020</p>
  </div>
  <ul>
    <li>Gathered & cleaned grocery carts</li>
    <li>Stocked & cleaned shelving</li>
    <li>Product Refacing</li>
  </ul>
  <br>
  <u>VOLUNTEER</u>
  <div id="jackminer">
    <p>Jack Miners' Bird Sanctuary</p>
    <p>Summer 2023</p>
  </div>
  <ul>
    <li>Cleaning, Sweeping various buildings</li>
    <li>Minor Grass Cutting</li>
    <li>Staining Wood</li>
  </ul>
  <div id="pumpkin-fest">
    <p>Western Secondary School Pumpkinfest, Volunteer</p>
    <p>2018 & 2019</p>
  </div>
  <ul>
    <li>Food Prep</li>
    <li>Kitchen Clean up</li>
  </ul>
  <br>
  <div id="unifor">
    <p>UNI-FOR Community Food Sharing, Volunteer</p>
    <p>October 2017</p>
  </div>
  <ul>
    <li>Assist with preparing of meals</li>
    <li>Counting & segregating inventory</li>
    <li>Light Customer Service</li>
  </ul>

  <br>
  <strong>REFERENCES AVAILABLE ON REQUEST</strong>
</section>
</div>
