<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio Project</title>
</head>
<body>
<div class="container">

  <div class="nav-bar">
    <a id="home" [routerLink]="['home']">Home</a>
    <a id="projects" [routerLink]="['projects']">My Projects</a>
    <a id="contact" [routerLink]="['contact']">Contact Me</a>
  </div>
  <br>
  <div class="horiz-line">
  </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

</div>
</body>
</html>
